<hr>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
{% load staticfiles %}

<div class="panel panel-default">
	<div class="panel-heading" id="CommentsFormDiv">Leave a comment!</div>
	<div class="panel-body">
		<form id="commentsForm" role="form" action="{{ original_BlogPost.fetch_url }}?comments=2" method="post">
			{% csrf_token %}
			<div id="RespondingToDiv"> Responding to original author </div>
            <div id="RestoreDiv" style="display: none;">
                <p>
                <a href="#CommentsFormDiv" id="RestoreOriginalResponse">
                    <small>Respond to original author</small>
                </a>
                </p>
            </div>
            <hr>
			<input type="hidden" id="ResponseTo" name="ResponseTo" value="">
			<div class="form-group" name="nameInput-group">
				<label for="nameInput1">Name</label>
				<input name ="nameInput" type="text" class="form-control" id="nameInput1" placeholder="Enter Name"> 
			</div>
			<div class="form-group" name="emailInput-group">
				<label  for="emailInput1">Email address (not shared)</label>
				<input name="emailInput" type="emailInput" class="form-control" id="emailInput1" placeholder="Enter email">
			</div>
			<div class="form-group" name="commentInput-group">
				<label for="commentInput1">Comment</label>
				<textarea name="commentText"  class="form-control" rows="4" placeholder="Insert elegant prose here."></textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit!</button>
		</form>
	</div>
</div>
<br>
{% for comment in comment_list %}
    {% if comment.start_blockquote %}<blockquote class="comment-blockquote">{% endif %}
	<div id="comment{{ comment.post.id }}" class="blogcomment-div">
		<div id="crtext{{ comment.post.id }}" style="display: none;">
		  	Responding to {{ comment.post.author.name }}({{ comment.post.return_nice_date }})</div>
		<p>{{ comment.post.author.name }} - {{ comment.post.return_nice_date }}</p>
		<p>{{ comment.post.post_title }}</p>
		<p>{{ comment.post.post_body }}</p>
		<small>{{ comment.post.return_nice_timestamp }} - <a href="#CommentsFormDiv" id="cr{{ comment.post.id }}" title="commentResponseLink">respond</a></small>
		{% for x in comment.end_blockquote %}</blockquote>{% endfor %}
	</div>
{% endfor %}
<script src="{% static 'blog/comments_form.js' %}"></script>